.hero {
    background: black url("../../assets/Images/field.jpeg") no-repeat 50% 50%;
    background-size: cover;
}

.hero-container {
    max-width: 700px;
}
.hero-body {
    margin-top: -30px;
}
.hero-p, .hero-button {
    margin-top: 10px;
}
.news-container, 
.team-container {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid red;
}
.card {
    width: 400px;
    margin: 15px;
}
.imgDiv {
    width: 100px;
    height: 100x;
    margin: 2px;
    border: 1px solid red;
    display: inline-block;
    text-align: center;
}
.logo {
    max-width: 100%;
    height: auto;
}
